@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* shared css styles */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-serif {
  font-family: "Noto Serif", serif;
}

.container{
    max-width: 1270px;
    margin: 0 auto;
}
.section-title{
   color: rgba(0, 0, 0, 1);
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 13px;

}
.span-orange{
     color: rgba(233, 90, 8, 1);
     font-size: 4rem;
    font-weight: bold;

}
.section-text{
     color: rgba(0, 0, 0, 0.5);
    font-size:1.25rem ;
}
.btn{
    background: rgba(233, 90, 8, 1);
    color: rgba(255, 255, 255, 1);
    padding: 19px 80px;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    width: 100%;
    
}
.card-text{
    color: rgba(17, 17, 17, 1);
    font-weight: 500;
    padding: 15px 0px;
   

}
.card-price{
      color: rgba(17, 17, 17, 1);
    font-weight: bold;
    padding-bottom: 15px;
}
.card-details{
     font-size: 1.25rem;
     text-align: center;
    
}
.sec-title{
    margin-top: 100px;
    text-align: center;
    padding: 20px 220px;
}
/* navbar styles*/
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.nav-menu-links {
    list-style: none;
    display: flex;
    gap: 40px;
    
}
.nav-menu-links a {
    text-decoration: none;

}
.home{
    color: rgba(37, 36, 50, 1);
}
.shop,.about-us{
    color: rgba(137, 135, 161, 1);
}
.cart{
    color:rgba(0, 0, 0, 1)
}
/* banner-styles */
.banner-container{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

}
.banner-left{
    align-content:end;
     flex: 1;
}
.banner-right {
    flex: 1;
}

.banner-right img{
  width: 100%;
  
}

.banner-text{
    color: rgba(0, 0, 0, 0.5);
    font-size:1.25rem ;
    max-width: 80%;
}
/* our plants styles*/

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:1.25rem;
    margin-top: 50px;
   
}
.card-container img{
    width: 100%;
}

/* plant-container */

.plant-container{
    display: flex;
    gap:25px;
    margin-top: 200px;
}
.plant-img{
    flex: 1;
}
.plant-img img{
    width: 100%;
}
.plant-img{
    position: relative;
}
.plant-img .badge{
    width: 286px;
    position: absolute;
    top: -130px;
    right: -100px;
}
.plant-text{
    padding: 50px;
    flex: 1;
}
.plant-title{
    font-weight:700;
    font-size: 3.5rem;
    color:rgba(0, 0, 0, 1);
}
.plant-description li{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.25rem;
    padding: 20px;
}
/*  deal styles*/
.deal-container{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;

}
.deal-left{
    width: 40%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap:30px;
 
   
}
.deal-left-1{
     background-image: url(../assets/deal-bloom.png);
    background-size: cover;
     border-radius: 22px;
     background-repeat: no-repeat;
    padding: 70px;
    text-align: center;


}
.deal-left-2{
     background-image: url(../assets/deal-ana.png);
     background-repeat: no-repeat;
     background-size: cover;
     border-radius: 20px;
      padding: 70px;
      text-align: center;
}
.deal-right{
    background-image: url(../assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    width: 60%;
    height: auto;
    padding: 165px;
    text-align: center;

}

.deal-left-h3{
    font-size: 1.25rem;
    font-weight:500;
    color: rgba(255, 255, 255, 1);
}
.deal-left-p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
}
.deal-right-h3{
    font-size: 2.125rem;
    font-weight:bold;
    color: rgba(255, 255, 255, 1);
}
.deal-right-p{
    font-size: 1.125rem;
    color: rgba(255, 255, 255, 1);
}
/* join section */
.join{
    background-image: url(../assets/news-letter-bg.png);
     background-repeat: no-repeat;
    background-size: cover;
     padding: 150px 300px;

}
.join-items{
    display: flex;
    align-items: center;
    padding: 20px;
}
.join-input{
    width: 70%;
    overflow:hidden;
}
.join-btn{
        width: 30%;
}
.join-title{
    font-size: 3rem;
    font-weight:500;
    color: rgba(255, 255, 255, 1);
}
input{
    padding: 20px 350px 20px 20px;
    border: none;
    
    

}
 .sub-btn{
     background: rgba(233, 90, 8, 1);
    color: rgba(255, 255, 255, 1);
    padding: 19px 80px;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    width: 100%;

 }
/* footer styles */
.footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:30px;
    margin: 50px auto;
    justify-content: space-between;
   
}
.footer-logo{
     color: rgba(107, 114, 128, 1);

}
.footer-menu-links li{
    list-style: none;
   padding-top:16px;
}
.footer-menu-links li a{
    text-decoration: none;
    color: rgba(107, 114, 128, 1);
}
.footer-icon a{
    padding:0px 10px;
}




.hide{
    display: none;
}


/* /* responsive media query */
@media screen and (max-width: 576px) {
   .main, .header ,.footer{
    margin: 0px 20px;
    
   }
    .nav-menu-links  .home,.shop,.about-us {
    display:none;
   

    }
    .banner-container{
        flex-direction: column-reverse;
       
    }
    
   
    .sec-title{
    margin-top:20px;
    padding: 10px;
    font-size: 14px;
}
    .section-title{
    color: rgba(0, 0, 0, 1);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 13px;

}
.span-orange{
     color: rgba(233, 90, 8, 1);
     font-size: 2rem;
    font-weight: bold;

}
.banner-text{
    color: rgba(0, 0, 0, 0.5);
    font-size:1.25rem ;
    max-width: 100%;
    
  
}
.plants{
     margin:50px auto;
    padding: 0px;
}
.plant-title{
    
    font-size: 1.5rem;  
}
.plant-text{
    padding:20px;
      
    
}
.plant-description li{
  font-size: 0.75rem;
  padding: 10px;
}
/* card-container */
.card-container{
     grid-template-columns: repeat(2, 1fr);
     justify-content: center;
     gap:10px;

}
.btn{
    padding: 10px;
    margin-bottom:10px ;
   
}

.plant-container{
    flex-direction: column;
    margin: 20px auto;
    gap:10px;
    
}
.plant-img .badge{
    display:none ;
}


.deal-container{
    margin-top: 50px;
    flex-direction: column;
    grid-template-columns: repeat(1,1fr);
    gap:20px;
   

}
.deal-left{
       grid-template-columns: repeat(1,1fr);
        width: 100%;
        gap:20px;


}
.deal-right{
    padding:70px;
}
.footer-container{
    flex-direction: column;
    grid-template-columns: repeat(1,1fr);
    align-items:center;
}
.footer-logo{
    max width:350px;
}
.email-sec{
    margin: 0px 0px;
}
.join{
   
    padding: 70px;

}
.join-items{
   justify-content: flex-start;
    padding: 0px;
}
.join-title{
    font-size: 1rem;
    font-weight:500;
    
}
input{
    padding: 11px ;
   

}

.join-btn{
     width: 40%;
}
 .sub-btn{
  
   padding: 10px 15px;
    font-weight: 300;
    font-size: 0.75rem;
    border: none;
    width: 40;
 
 }