@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* shared css styles */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-serif {
  font-family: "Noto Serif", serif;
}

body{
    background: rgba(255, 255, 255, 1);
}
.container{
    max-width: 1270px;
    margin: 0 auto;
}
.section-title{
   color: rgba(0, 0, 0, 1);
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 13px;

}
.span-orange{
     color: rgba(233, 90, 8, 1);
     font-size: 4rem;
    font-weight: bold;

}
.section-text{
     color: rgba(0, 0, 0, 0.5);
    font-size:1.25rem ;
}
.btn{
    background: rgba(233, 90, 8, 1);
    color: rgba(255, 255, 255, 1);
    padding: 19px 80px;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    width: 100%;
    
}

.sec-title{
    margin-top: 100px;
    text-align: center;
    padding: 20px 220px;
}
/* navbar styles*/
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.nav-menu-links {
    list-style: none;
    display: flex;
    gap: 40px;
    
}
.nav-menu-links a {
    text-decoration: none;

}
.home{
    color: rgba(37, 36, 50, 1);
}
.shop,.about-us{
    color: rgba(137, 135, 161, 1);
}
.cart{
    color:rgba(0, 0, 0, 1)
}
/* banner-styles */
.banner-container{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

}
.banner-left{
    align-content:end;
     flex: 1;
}
.banner-right {
    flex: 1;
}

.banner-right img{
  width: 100%;
  
}

.banner-text{
    color: rgba(0, 0, 0, 0.5);
    font-size:1.25rem ;
    max-width: 80%;
}
/* our plants styles*/

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:1.25rem;
    margin-top: 50px;
   
}
.card-container img{
    width: 100%;
}
.card-text{
    color: rgba(17, 17, 17, 1);
    font-weight: 500;
    padding: 15px 0px;

}
.card-price{
      color: rgba(17, 17, 17, 1);
    font-weight: bold;
    padding-bottom: 15px;
}
.card-details{
     font-size: 1.25rem;
     text-align: center;
    
}

/* plant-container */

.plant-container{
    display: flex;
    gap:25px;
    margin-top: 200px;
}
.plant-img{
    flex: 1;
}
.plant-img img{
    width: 100%;
}
.plant-img{
    position: relative;
}
.plant-img .badge{
    width: 286px;
    position: absolute;
    top: -130px;
    right: -100px;
}
.plant-text{
    padding: 50px;
    flex: 1;
}
.plant-title{
    font-weight:700;
    font-size: 3.5rem;
    color:rgba(0, 0, 0, 1);
}
.plant-description li{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.25rem;
    padding: 20px;
}
/*  deal section styles*/
.deal-container{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;

}
.deal-left{
    width: 40%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap:30px;
}
.deal-left-1{
     background-image: url(../assets/deal-bloom.png);
    background-size: cover;
     border-radius: 22px;
     background-repeat: no-repeat;
    padding: 70px;
    text-align: center;
}
.deal-left-2{
     background-image: url(../assets/deal-ana.png);
     background-repeat: no-repeat;
     background-size: cover;
     border-radius: 20px;
      padding: 70px;
      text-align: center;
}
.deal-right{
    background-image: url(../assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    width: 60%;
    height: auto;
    padding: 160px;
    text-align: center;

}

.deal-left-h3{
    font-size: 1.25rem;
    font-weight:500;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 10px;
}
.shop-text-left{
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
}
.deal-right-h3{
    font-size: 2.5rem;
    font-weight:bold;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 20px;
}
.shop-text-right{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 1);
}
/* join section styles*/
.join{
    background-image: url(../assets/news-letter-bg.png);
     background-repeat: no-repeat;
    background-size: cover;
     padding: 150px 300px;

}

.join-title{
    font-size: 3rem;
    font-weight:500;
    color: rgba(255, 255, 255, 1);
    padding: 20px;
}
.subscribe-form{
    display: flex;
}
input{
    padding: 10px 350px 10px 30px;
    font-size:1rem;
}
 .sub-btn{
     background: rgba(233, 90, 8, 1);
    color: rgba(255, 255, 255, 1);
    padding: 10px 80px;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    width: 100%;

 }
/* footer styles */
.footer-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:50px;
    margin: 50px auto;
    justify-items: space-between;  
}
.footer-logo{
     color: rgba(107, 114, 128, 1);
}

.footer-logo-text{
    padding: 20px 0px;
    padding-right: 10px;
}
.footer-list{
    display: flex;
    gap: 50px;
    
}

.footer-list-1,.footer-list-2{
    padding: 0px 30px;
}
.footer-menu-links li{
    list-style: none;
    padding: 10px 0px;
}

.footer-menu-links li a{
    text-decoration: none;
    color: rgba(107, 114, 128, 1);
}
.footer-icon a{
    padding:0px 10px;
}


/* animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation-name: spin;
  animation-duration: 1.5s; 
  animation-iteration-count: infinite; 
  animation-timing-function: linear; 
}


/* /* responsive media query */
@media screen and (max-width: 576px) {

     .header,.banner,.plant,.flower-card,.deal,.footer{
        margin: 0px 20px;
        
    }
    .nav-menu-links{
        gap:15px;
    }
    .nav-menu-links  .home,.shop,.about-us {
        display:none;
    }
    /* banner responsive style */
    .banner-container{
        flex-direction: column-reverse;
        gap:20px;     
    }
    .banner-text{
        font-size:0.8rem;
        max-width: 100%;
    }
     .section-title , .span-orange,.plant-title{
        font-size: 2rem;   
    }
    .sec-title{
        margin-top:20px;
        padding: 10px;
        font-size: 14px;
    }
   /* plant section responsive style */
   .section-text{ 
    font-size:0.85rem ;
    }
    .plants{
        margin:50px auto;
        padding: 0px;
    }
   
    .plant-text{
        padding:10px;     
    }
    .plant-description li{
    font-size: 0.8rem;
    padding: 10px 0px;
    }
   
    .card-container{
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap:20px;
      
    }
    .btn{
        padding: 15px;
        font-weight:600;
    }
    .card-details{
     font-size: 1rem;
    
    }
    .card-text{
    padding: 10px 0px; 
    }
    .card-price{
        padding-bottom: 10px;
    }
    .plant-container{
        flex-direction: column;
        margin: 40px auto;
        gap:10px;  
    }
    .plant-title{
        font-size:1.5rem;  
    }
    .plant-img .badge{
        display:none ;
    }
    .deal-container{
        margin-top: 50px;
        flex-direction: column;
        grid-template-columns: repeat(1,1fr);
        gap:20px;
    

    }
    .deal-left-h3,.deal-right-h3{
        font-size: 1rem;
        font-weight:500;
        padding-bottom: 10px;
    }
    .shop-text-left,.shop-text-right{
        font-size: 1rem;
        
    }
    .deal-left{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        gap: 20px;
    }
    .deal-left-2{
        border-radius: 0px;
    }
    .deal-right{
        padding:70px;
    }
    .footer-container{
        flex-direction: column;
        grid-template-columns: repeat(1,1fr);
        align-items:center;
        gap:0px;
    }
    .footer-logo{
        max width:350px;
    }
    .join{
        padding: 50px;
    }
    .join-title{
        font-size: 1rem;
        padding: 10px;
    }
    input{
        padding: 10px; 
    }
    .sub-btn{
        padding: 10px ;
        font-weight: 300;
        font-size: 0.75rem;
       
    }  
.footer-icon a{
    padding:0px;
}
   .footer-list-1,.footer-list-2{
    padding: 15px 0px;
}
  .footer-list{
    flex-direction: column;
    gap:0px;
    padding: 0px;
  }
}